.header {
  padding: 1rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  inset: 0;
  height: 80px;
  z-index: 40;
  background-color: var(--main-bg-color);
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 170px;
  height: auto;
  display: block;
  object-fit: cover;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
}

.nav {
  position: fixed;
  top: 0;
  right: -100%;
  width: 70%;
  height: 100%;
  background: var(--main-bg-color);
  color: var(--light-color);
  transition: right 0.3s ease;
  z-index: 50;
}

.main-nav.open .nav {
  right: 0;
}

.nav-links-list {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 2rem;
  list-style: none;
  padding: 0;
  margin: auto;
}

.nav-links-list li {
  transition: 0.5s;
}

.nav-links-list li a {
  color: var(--light-color);
  text-decoration: none;
  font-size: 1.7rem;
  width: 100%;
  padding: 0.5rem 1rem;
  display: inline-block;
  transition: 0.3s;
}

.nav-links-list li a:not(.active):hover {
  transform: translate(-5px, -5px);
  box-shadow: 4px 4px 0 0 var(--light-color);
  border-radius: 5px;
  padding: 0.5rem 1rem;
}

.nav-links-list li:hover a {
  color: var(--hover-color);
}

.active {
  transform: translate(-5px, -5px);
  box-shadow: 4px 4px 0 0 var(--light-color);
  border-radius: 5px;
  padding: 0.5rem;
}

.nav-links-list a.active {
  color: var(--hover-color);
}

.nav-menu {
  display: block;
}

.main-nav.open .nav-menu {
  display: none;
}

.header svg {
  stroke: var(--light-color);
  width: 30px;
  height: 30px;
}

.header button {
  all: unset;
  cursor: pointer;
}

.header-icons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-menu,
.close-nav-menu {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  color: var(--light-color);
  cursor: pointer;
  transition: all 0.5s;
}

.theme-toggle-btn svg {
  padding: 0.5rem;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  fill: var(--hover-color);
  stroke: var(--hover-color);
  transform: translate(-5px, -5px);
  box-shadow: 4px 4px 0 0 var(--light-color);
}

.header .close-nav-menu {
  display: block;
  padding: 2rem;
}

@media (min-width: 1000px) {
  .header {
    position: sticky;
    top: 0;
    background-color: var(--main-bg-color);
    z-index: 40;
  }

  .nav {
    position: relative;
    right: 0;
    height: auto;
    width: auto;
    background: none;
    padding-top: 0;
  }

  .nav-links-list {
    flex-direction: row;
  }

  .nav-menu,
  .close-nav-menu {
    display: none !important;
  }
}
