.hero {
  height: 95dvh;
  display: flex;
  align-items: center;
}

h1.hero-title {
  font-size: 4rem;
}

.greeting {
  display: block;
  font-size: 2rem;
  font-weight: normal;
}

.hero-title strong,
.hero-description strong {
  background: var(--text-shadow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.hero-description {
  display: block;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 1.7;
}

.button-links {
  display: flex;
  gap: 1.2rem;
  flex-wrap: wrap;
  margin-top: 1.5rem;
}

.btn {
  text-decoration: none;
  color: var(--hover-color);
  padding: 0.6rem 1.2rem;
  border-radius: 6px;
  border: 2px solid var(--hover-color);
  font-weight: 600;
  transition: 0.5s;
}

.btn:hover {
  padding: 0.5rem;
  background-color: var(--hover-color);
  color: #fff;
  border-radius: 5px;
  transform: translate(-5px, -5px);
  box-shadow: 4px 4px 0 0 var(--light-color);
}

@media (min-width: 768px) {
  h1.hero-title {
    font-size: 8rem;
  }

  .about-content {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    gap: 2rem;
  }

  .about-text {
    width: 60%;
  }
}

@media (min-width: 767px) and (max-width: 1050px) {
  .hero-info {
    font-size: 6rem;
  }
}
