:root {
  --light-color: #fff;
  --main-bg-color: #0f1624;
  --boxes-bg-color: #1f2937;
  --text-shadow: linear-gradient(120deg, #c18425, #f3f4f5);
  --photo-bg-color: #2e3b55;
  --hover-color: #d4a747;
  --section-padding: 10rem;
  --scroll-padding-section: 10rem;
}

body.light-theme {
  --light-color: #192942;
  --main-bg-color: #fff;
  --boxes-bg-color: #f3f3f4;
  --text-shadow: linear-gradient(120deg, #e3a14a, #192942);
  --photo-bg-color: #fff;
  --hover-color: #e3a14a;
}
